apiVersion: v1
kind: Pod
metadata:
  name: openstackclient-osp
  namespace: openstack
spec:
  metadata:
    labels:
      app: openstackclient
  nodeSelector:
  node-role.kubernetes.io/worker-osp: ""
  tolerations:
  - effect: NoSchedule
    key: dedicated
    operator: Equal
    value: worker-osp
  containers:
    - name: openstackclient
      image: {{ openstackclient_image }}
      command:
        - sleep
        - infinity
      user: root
      env:
        - name: OS_USERNAME
          value: admin
        - name: NOVA_VERSION
          value: "1.1"
        - name: COMPUTE_API_VERSION
          value: "1.1"
        - name: OS_USERNAME
          value: admin
        - name: OS_PROJECT_NAME
          value: admin
        - name: OS_USER_DOMAIN_NAME
          value: Default
        - name: OS_PROJECT_DOMAIN_NAME
          value: Default
        - name: OS_NO_CACHE
          value: "True"
        - name: OS_CLOUDNAME
          value: cnv
        - name: PYTHONWARNINGS
          value: 'ignore:Certificate has no, ignore:A true SSLContext object is not available'
        - name: OS_AUTH_TYPE
          value: password
        - name: OS_PASSWORD
          value: {{ os_password }}
        - name: OS_AUTH_URL
          value: {{ os_auth_url }}
        - name: OS_IDENTITY_API_VERSION
          value: "3"
        - name: OS_COMPUTE_API_VERSION
          value: "2.latest"
        - name: OS_IMAGE_API_VERSION
          value: "2"
        - name: OS_VOLUME_API_VERSION
          value: "3"
        - name: OS_REGION_NAME
          value: regionOne
