apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: osp-director-operator-index
  namespace: {{ namespace }}
spec:
  sourceType: grpc
  image: {{ director_operator_image }}-index:{{ csv_version }}
