#jinja2: trim_blocks:False
apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackConfigGenerator
metadata:
  name: default
  namespace: openstack
spec:
  gitSecret: git-secret
  imageURL: {{ openstackclient_image }}
  heatEnvs:
{%- if osp.tls_public_endpoints|default(false)|bool %}
{%- if osp.tls_public_endpoints_ip|default(false)|bool %}
    - ssl/tls-endpoints-public-ip.yaml
{%- else %}
    - ssl/tls-endpoints-public-dns.yaml
{%- endif %}
    - ssl/enable-tls.yaml
{%- endif %}
{%- if osp.tlse|default(false)|bool %}
    - ssl/tls-everywhere-endpoints-dns.yaml
    - services/haproxy-public-tls-certmonger.yaml
    - ssl/enable-internal-tls.yaml
{%- endif %}
  heatEnvConfigMap: heat-env-config
  tarballConfigMap: tripleo-tarball-config
{% if ephemeral_heat is defined and ephemeral_heat|length %}
  ephemeralHeatSettings:
    heatAPIImageURL: {{ ephemeral_heat.heat_api_image }}
    heatEngineImageURL: {{ ephemeral_heat.heat_engine_image }}
    mariadbImageURL: {{ ephemeral_heat.mariadb_image }}
    rabbitImageURL: {{ ephemeral_heat.rabbit_image }}
{% endif %}
