#jinja2: trim_blocks:False
apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackConfigGenerator
metadata:
{%- if osp_update|default(false)|bool %}
  name: update
{%- else %}
  name: default
{%- endif %}
  namespace: openstack
spec:
  gitSecret: git-secret
  heatEnvs:
{%- if osp.tls_public_endpoints|default(false)|bool %}
{%- if osp.tls_public_endpoints_ip|default(false)|bool %}
    - ssl/tls-endpoints-public-ip.yaml
{%- else %}
    - ssl/tls-endpoints-public-dns.yaml
{%- endif %}
    - ssl/enable-tls.yaml
{%- endif %}
{%- if osp_update|default(false)|bool %}
    - lifecycle/update-prepare.yaml
{%- endif %}
{%- if osp.tlse|default(false)|bool %}
    - ssl/tls-everywhere-endpoints-dns.yaml
    - services/haproxy-public-tls-certmonger.yaml
    - ssl/enable-internal-tls.yaml
{%- endif %}
{%- if osp_update|default(false)|bool %}
  heatEnvConfigMap: heat-env-config-update
  tarballConfigMap: tripleo-tarball-config-update
{%- else %}
  heatEnvConfigMap: heat-env-config-deploy
  tarballConfigMap: tripleo-tarball-config-deploy
{%- endif %}
