parameter_defaults:
  # Compute settings
  ComputeParameters:
    KernelArgs: "default_hugepagesz=1GB hugepagesz=1G hugepages=256"
    ExtraSysctlSettings:
      # must be equal to value from 1G kernel args: hugepages=2
      vm.nr_hugepages:
        value: 256
      vm.max_map_count:
        value: 128960
    TunedProfileName: "cpu-partitioning"
    IsolCpusList: 4-7
