
apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  name: ocs-storagecluster
  namespace: openshift-storage
spec:
  manageNodes: false
  monDataDirHostPath: /var/lib/rook
  storageDeviceSets:
  - config: {}
    count: {{ ocp_storage_data_disks | length }}
    dataPVCTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: "{{ ocp_storage_data_disk_size }}Gi"
        storageClassName: local
        volumeMode: Block
    name: ocs-deviceset
    placement: {}
    portable: false
    replica: {{ ocp_num_storage_workers }}
    resources: {}
