parameter_defaults:
  NeutronGlobalPhysnetMtu: 1500
  # update network config
  ControllerNetworkConfigUpdate: True
  CtlNovaStdaloneNetworkConfigUpdate: True
  NovacontrolNetworkConfigUpdate: True
  ComputeNetworkConfigUpdate: True
  ComputeLeaf1NetworkConfigUpdate: True
  ComputeLeaf2NetworkConfigUpdate: True
  DistributedComputeLeaf1NetworkConfigUpdate: True
  ExtraFirewallRules:
    '203 ssh for ctlplane':
      dport: 22
      proto: tcp
      source: 172.22.0.0/16 # all ctlplane subnets
