parameter_defaults:
  NeutronGlobalPhysnetMtu: 1500
  # update network config
  ControllerNetworkConfigUpdate: True
  ComputeNetworkConfigUpdate: True
  ComputeLeaf1NetworkConfigUpdate: True
  ComputeLeaf2NetworkConfigUpdate: True
