parameter_defaults:
  NeutronGlobalPhysnetMtu: 1350
  NeutronPublicInterface: nic3
  NeutronBridgeMappings: datacentre:br-ex,tenant:br-isolated
  NeutronExternalNetworkBridge: br-ex
  NeutronNetworkType: geneve
  NeutronNetworkVLANRanges: tenant:1000:2000
  NeutronTunnelTypes: geneve
  # workaround until we have these service IPs implemented in the operator
  RedisVirtualFixedIPs:
    - ip_address: 172.17.0.9
      use_neutron: false
  OVNDBsVirtualFixedIPs:
    - ip_address: 172.17.0.8
      use_neutron: false
