parameter_defaults:
  ComputeNetworkConfigTemplate: 'multiple_nics_vlans_dvr.j2'
  ComputeLeaf1NetworkConfigTemplate: 'multiple_nics_vlans_dvr.j2'
  ComputeLeaf2NetworkConfigTemplate: 'multiple_nics_vlans_dvr.j2'
  ComputeHciNetworkConfigTemplate: 'multiple_nics_vlans_dvr.j2'
