resource_registry:
  OS::TripleO::Controller::Net::SoftwareConfig: OS::Heat::None
  OS::TripleO::Compute::Net::SoftwareConfig: OS::Heat::None
  OS::TripleO::Server: /home/cloud-admin/openstack-tripleo-heat-templates/deployed-server/deployed-server.yaml
  OS::TripleO::Network::Ports::ControlPlaneVipPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_vip_ctlplane.yaml
  OS::TripleO::Network::Ports::ExternalVipPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_vip_external.yaml
  OS::TripleO::Network::Ports::InternalApiVipPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_vip_internal_api.yaml
  OS::TripleO::Network::Ports::StorageMgmtVipPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_vip_storage_mgmt.yaml
  OS::TripleO::Network::Ports::StorageVipPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_vip_storage.yaml
  OS::TripleO::Compute::Ports::InternalApiPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_internal_api.yaml
  OS::TripleO::Compute::Ports::StoragePort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_storage.yaml
  OS::TripleO::Compute::Ports::TenantPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_tenant.yaml
  OS::TripleO::Controller::Ports::ExternalPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_external.yaml
  OS::TripleO::Controller::Ports::InternalApiPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_internal_api.yaml
  OS::TripleO::Controller::Ports::StorageMgmtPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_storage_mgmt.yaml
  OS::TripleO::Controller::Ports::StoragePort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_storage.yaml
  OS::TripleO::Controller::Ports::TenantPort: /home/cloud-admin/openstack-tripleo-heat-templates/network/ports/deployed_tenant.yaml
  OS::TripleO::DeployedServer::ControlPlanePort: /home/cloud-admin/openstack-tripleo-heat-templates/deployed-server/deployed-neutron-port.yaml

parameter_defaults:
  ComputeHostnameFormat: '%stackname%-novacompute-%index%'
  ControllerHostnameFormat: '%stackname%-controller-%index%'
  HostnameMap:
    overcloud-controller-0: overcloud-controller-0
    overcloud-novacompute-0: overcloud-novacompute-0
    overcloud-novacompute-1: overcloud-novacompute-1
  ComputeCount: 2
  ControllerCount: 1
  CtlplaneNetworkAttributes:
    network:
      dns_domain: ctlplane.localdomain.
      mtu: 1500
      name: ctlplane
      tags:
      - 192.168.25.0/24
    subnets:
      ctlplane-subnet:
        cidr: 192.168.25.0/24
        dns_nameservers:
        - 10.11.5.19
        - 10.10.160.2
        - 10.5.30.160
        gateway_ip: 192.168.25.1
        host_routes: []
        ip_version: 4
        name: ctlplane-subnet
  DeployedServerPortMap:
    overcloud-controller-0-ctlplane:
      fixed_ips:
      - ip_address: 192.168.25.104
    overcloud-novacompute-0-ctlplane:
      fixed_ips:
      - ip_address: 192.168.25.101
    overcloud-novacompute-1-ctlplane:
      fixed_ips:
      - ip_address: 192.168.25.102
  NodePortMap:
    overcloud-controller-0:
      ctlplane:
        ip_address: 192.168.25.104
        ip_address_uri: 192.168.25.104
        ip_subnet: 192.168.25.104/24
      external:
        ip_address: 10.0.0.8
        ip_address_uri: 10.0.0.8
        ip_subnet: 10.0.0.8/24
      internal_api: 
        ip_address: 172.16.2.8
        ip_address_uri: 172.16.2.8
        ip_subnet: 172.16.2.8/24
      tenant:
        ip_address: 172.16.0.7
        ip_address_uri: 172.16.0.7
        ip_subnet: 172.16.0.7/24
      storage:
        ip_address: 172.16.1.7
        ip_address_uri: 172.16.1.7
        ip_subnet: 172.16.1.7/24
      storage_mgmt:
        ip_address: 172.16.3.5
        ip_address_uri: 172.16.3.5
        ip_subnet: 172.16.3.5/24
    overcloud-novacompute-0:
      ctlplane:
        ip_address: 192.168.25.101
        ip_address_uri: 192.168.25.101
        ip_subnet: 192.168.25.101/24
      external:
        ip_address: 10.0.0.5
        ip_address_uri: 10.0.0.5
        ip_subnet: 10.0.0.5/24
      internal_api: 
        ip_address: 172.16.2.5
        ip_address_uri: 172.16.2.5
        ip_subnet: 172.16.2.5/24
      tenant:
        ip_address: 172.16.0.5
        ip_address_uri: 172.16.0.5
        ip_subnet: 172.16.0.5/24
      storage:
        ip_address: 172.16.1.5
        ip_address_uri: 172.16.1.5
        ip_subnet: 172.16.1.5/24
    overcloud-novacompute-1:
      ctlplane:
        ip_address: 192.168.25.102
        ip_address_uri: 192.168.25.102
        ip_subnet: 192.168.25.102/24
      external:
        ip_address: 10.0.0.6
        ip_address_uri: 10.0.0.6
        ip_subnet: /24
      internal_api: 
        ip_address: 172.16.2.6
        ip_address_uri: 172.16.2.6
        ip_subnet: 172.16.2.6/24
      tenant:
        ip_address: 172.16.0.6
        ip_address_uri: 172.16.0.6
        ip_subnet: 172.16.0.6/24
      storage:
        ip_address: 172.16.1.6
        ip_address_uri: 172.16.1.6
        ip_subnet: 172.16.1.6/24
  ControlPlaneVipData:
    fixed_ips:
    - ip_address: 192.168.25.100
    name: control_virtual_ip
    network:
      tags:
      - 192.168.25.100/24
    subnets:
    - ip_version: 4
  VipPortMap:
    external:
      ip_address: 10.0.0.4
      ip_address_uri: 10.0.0.4
      ip_subnet: 10.0.0.4/24
    internal_api:
      ip_address: 172.16.2.4
      ip_address_uri: 172.16.2.4
      ip_subnet: 172.16.2.4/24
    storage:
      ip_address: 172.16.1.4
      ip_address_uri: 172.16.1.4
      ip_subnet: 172.16.1.4/24
    storage_mgmt:
      ip_address: 172.16.3.4
      ip_address_uri: 172.16.3.4
      ip_subnet: 172.16.3.4/24
  #RedisVirtualFixedIPs: [{'ip_address': '172.20.0.11', 'use_neutron': false}]
  #OVNDBsVirtualFixedIPs: [{'ip_address': '172.20.0.12', 'use_neutron': false}]
