---

parameter_defaults:
    NeutronFlatNetworks: datacentre,sriov-1
    NeutronNetworkVLANRanges: "sriov-1:472:472"
    ComputeSriovParameters:
        KernelArgs: "default_hugepagesz=1GB hugepagesz=1G hugepages=64 iommu=pt intel_iommu=on tsx=off isolcpus=2-19,22-80"
        NovaPCIPassthrough:
          - devname: "ens1f0"
            trusted: "true"
            physical_network: "sriov-1"
        IsolCpusList: "2-19,22-80"
        NeutronPhysicalDevMappings:
            - "sriov-1:ens1f0"
    # br-ex is external network used for routing on controllers
    # br-sriov1 is internal NIC on compute nodes for SR-IOV workloads
    NeutronBridgeMappings: "datacentre:br-ex,sriov-1:ens1f0"

    NovaSchedulerDefaultFilters:
    - "RetryFilter"
    - "AvailabilityZoneFilter"
    - "ComputeFilter"
    - "ComputeCapabilitiesFilter"
    - "ImagePropertiesFilter"
    - "ServerGroupAntiAffinityFilter"
    - "ServerGroupAffinityFilter"
    - "PciPassthroughFilter"
    - "NUMATopologyFilter"
    - "AggregateInstanceExtraSpecsFilter"

#openstackconfiggenerator.yaml.j2 handled by a condition at that file
