parameter_defaults:
  ExternalNetCidr: 10.0.0.0/24
  ExternalAllocationPools: [{"start": "10.0.0.10", "end": "10.0.0.50"}]
  ExternalInterfaceDefaultRoute: 10.0.0.1
  PublicVirtualFixedIPs: [{ "ip_address": "10.0.0.5" }]
  InternalApiNetCidr: 172.17.0.0/24
  InternalApiAllocationPools: [{"start": "172.17.0.10", "end": "172.17.0.250"}]
  # Note: in OSP17 the subnet vlan id from DeployedNetworkEnvironment has precedence
  InternalApiNetworkVlanID: 20
  StorageNetCidr: 172.18.0.0/24
  StorageAllocationPools: [{"start": "172.18.0.10", "end": "172.18.0.250"}]
  # Note: in OSP17 the subnet vlan id from DeployedNetworkEnvironment has precedence
  StorageNetworkVlanID: 30
  StorageMgmtNetCidr: 172.19.0.0/24
  StorageMgmtAllocationPools: [{"start": "172.19.0.10", "end": "172.19.0.250"}]
  # Note: in OSP17 the subnet vlan id from DeployedNetworkEnvironment has precedence
  StorageMgmtNetworkVlanID: 40
  TenantNetCidr: 172.20.0.0/24
  TenantAllocationPools: [{"start": "172.20.0.10", "end": "172.20.0.250"}]
  # Note: in OSP17 the subnet vlan id from DeployedNetworkEnvironment has precedence
  TenantNetworkVlanID: 50
  ControlPlaneDefaultRoute: 192.168.25.1
  ControlPlaneSubnetCidr: '24'
  NeutronGlobalPhysnetMtu: 1350
  NeutronPublicInterface: nic3
  NtpServer:
    - clock.redhat.com
    - clock2.redhat.com
  DnsServers:
    - 192.168.25.1
  NeutronBridgeMappings: datacentre:br-ex,tenant:br-isolated
  NeutronExternalNetworkBridge: br-ex
  NeutronNetworkType: geneve
  NeutronNetworkVLANRanges: tenant:1000:2000
  NeutronTunnelTypes: geneve
