parameter_defaults:
  NeutronGlobalPhysnetMtu: 1350
  NeutronPublicInterface: nic3
  NeutronBridgeMappings: datacentre:br-ex,tenant:br-isolated
  NeutronExternalNetworkBridge: br-ex
  NeutronNetworkType: geneve
  NeutronNetworkVLANRanges: tenant:1000:2000
  NeutronTunnelTypes: geneve
