resource_registry:
  OS::TripleO::Compute::Net::SoftwareConfig: net-config-two-nic-vlan-compute.yaml
  OS::TripleO::ComputeLeaf1::Net::SoftwareConfig: net-config-two-nic-vlan-compute_leaf1.yaml
  OS::TripleO::ComputeLeaf2::Net::SoftwareConfig: net-config-two-nic-vlan-compute_leaf2.yaml
  OS::TripleO::ComputeHCI::Net::SoftwareConfig: net-config-two-nic-vlan-computehci.yaml
  OS::TripleO::ComputeHCILeaf1::Net::SoftwareConfig: net-config-two-nic-vlan-computehci_leaf1.yaml
  OS::TripleO::ComputeHCILeaf2::Net::SoftwareConfig: net-config-two-nic-vlan-computehci_leaf2.yaml
  OS::TripleO::ComputeSriov::Net::SoftwareConfig: net-config-two-nic-vlan-computesriov-qe.yaml
  OS::TripleO::ComputeOvsDpdk::Net::SoftwareConfig: net-config-two-nic-vlan-computedpdk-qe.yaml
  OS::TripleO::ComputeOvsDpdkSriov::Net::SoftwareConfig: net-config-two-nic-vlan-computedpdksriov-qe.yaml
