apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackClient
metadata:
  name: tempest
  namespace: openstack
spec:
  cloudName: overcloud
  imageURL: {{ tempest_image }}
  networks:
    - ctlplane
    - external
    - internal_api
  storageClass: host-nfs-storageclass
  # tempest:x:42480:42480
  runUID: 42480
  runGID: 42480
  caConfigMap: cacerts
  domainName: {{ osp.domain_name }}
{% if osp.dns_search_domains is defined and osp.dns_search_domains|length %}
  dnsServers: {{ osp.dns_servers }}
{% endif %}
{% if osp.dns_search_domains is defined and osp.dns_search_domains|length %}
  dnsSearchDomains: {{ osp.dns_search_domains }}
{% endif %}
