apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackClient
metadata:
  name: tempest
  namespace: openstack
spec:
  cloudName: overcloud
  imageURL: {{ tempest_image }}
  networks:
    - ctlplane
    - external
    - internalapi
  storageClass: host-nfs-storageclass
  # tempest:x:42480:42480
  runUID: 42480
  runGID: 42480
  domainName: "{{ ocp_domain_name | default('test.metalkube.org', true) }}"
