[auth]
use_dynamic_credentials = true

[compute]
region = regionOne

[compute-feature-enabled]
console_output = false

[identity]
region = regionOne

[image]
region = regionOne

[network]
region = regionOne

[object-storage]
region = regionOne

[orchestration]
stack_owner_role = swiftoperator
region = regionOne

[volume]
region = regionOne
{% if "hci" in osp.extrafeatures %}
storage_protocol = ceph
{% endif %}

[volume-feature-enabled]
bootable = true
