[auth]
use_dynamic_credentials = true

[compute]
region = regionOne

[compute-feature-enabled]
console_output = false

[identity]
region = regionOne

[image]
region = regionOne
image_path = https://{{ osp_rhos_release_mirror }}/images/cirros-0.5.2-x86_64-disk.img
disk_formats = qcow2,ari,aki,vhd,vmdk,raw,ami,vdi,iso,vhdx

[network]
region = regionOne

[object-storage]
region = regionOne

[orchestration]
stack_owner_role = swiftoperator
region = regionOne

[volume]
region = regionOne
{% if "hci" in osp.extrafeatures %}
storage_protocol = ceph
{% endif %}

[volume-feature-enabled]
bootable = true
{% if "cinder_nfs" in osp.extrafeatures %}
snapshot = false
{% endif %}
