#jinja2: trim_blocks:False
apiVersion: v1
kind: ConfigMap
metadata:
  name: cacerts
  namespace: openstack
data:
  "redhat_CA": |
    {{ lookup('file', 'files/RH-Root-CA.pem', rstrip=false)|indent(4) }}
{%- if osp.tls_public_endpoints|default(false)|bool %}
  "local_CA": |
    {{ lookup('file', '/opt/local_CA/cacert.pem', rstrip=false)|indent(4) }}
{%- endif %}
