apiVersion: v1
kind: Secret
metadata:
  name: idmsecret
  namespace: openstack
data:
  IdMServer: "{{ ('freeipa.' + base_domain_name) | b64encode}}"
  IdMAdminUser: "{{ 'admin'|b64encode }}"
  IdMAdminPassword: "{{ 'abcd4321'|b64encode }}"
  IdMRealm: "{{ base_domain_name|upper|b64encode }}"
