apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: overcloud
  namespace: {{ namespace }}
spec:
  openStackClientImageURL: {{ openstackclient_image }}
  passwordSecret: userpassword
  ospNetwork:
    bridgeName: br-osp
    name: osp
    nodeNetworkConfigurationPolicy:
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      desiredState:
        interfaces:
        - bridge:
            options:
              stp:
                enabled: false
            port:
            - name: {{ osp_interface }}
          description: Linux bridge with enp6s0 as a port
          name: br-osp # must be same as bridgeName
          state: up
          type: linux-bridge
  virtualMachineRoles:
  - role: Controller
    roleCount: {{ osp_controller_count }}
    networks:
      - ctlplane
    cores: {{ osp_controller_cores }}
    memory: {{ osp_controller_memory }}
    diskSize: {{ osp_controller_disk_size }}
    # FIXME: remove this once we make baseImageURL optional
    baseImageURL: {{ osp_controller_base_image_url }}
    baseImageVolumeName: openstack-base-img
    storageClass: {{ osp_controller_storage_class }}
