apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: overcloud
  namespace: {{ namespace }}
spec:
  gitSecret: git-secret
  openStackClientImageURL: {{ openstackclient_image }}
  openStackClientNetworks:
        - ctlplane
        - external
        - internalapi
  openStackClientStorageClass: {{ osp_controller_storage_class }}
  passwordSecret: userpassword
  virtualMachineRoles:
    controller:
      roleName: Controller
      roleCount: {{ osp_controller_count }}
      networks:
        - ctlplane
        - internalapi
        - external
        - tenant
        - storage
        - storagemgmt
      cores: {{ osp_controller_cores }}
      memory: {{ osp_controller_memory }}
      diskSize: {{ osp_controller_disk_size }}
      baseImageVolumeName: openstack-base-img
      storageClass: {{ osp_controller_storage_class }}
