apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: overcloud
  namespace: {{ namespace }}
spec:
  gitSecret: git-secret
  openStackClientImageURL: {{ openstackclient_image }}
  openStackClientNetworks: {{ openstackclient_networks }}
  openStackClientStorageClass: {{ openstackclient_storage_class }}
  passwordSecret: userpassword
  caConfigMap: cacerts
{% if osp.tlse|default(false)|bool %}
  idmSecret: idmsecret
{% endif %}
  virtualMachineRoles:
{% for name, role in osp.vmset.items() %}
{% if role.count > 0 %}
    {{ name }}:
      roleName: {{ name }}
      roleCount: {{ role.count }}
      networks:
{% for net in role.networks %}
        - {{ net }}
{% endfor %}
      cores: {{ role.cores }}
      memory: {{ role.memory }}
      diskSize: {{ role.disk_size }}
      baseImageVolumeName: {{ name|lower }}-base-img
      storageClass: {{ role.storage_class }}
      storageAccessMode:  {{ role.storage_access_mode | default('ReadWriteMany', true) }}
      storageVolumeMode: {{ role.storage_volume_mode | default('Filesystem', true) }}
{% endif %}
{% endfor %}
  enableFencing: {{ enable_fencing }}
{% if osp.release is defined %}
  openStackRelease: "{{ osp.release }}"
{% endif %}
