parameter_defaults:
  CloudDomain: {{ ocp_cluster_name }}.{{ ocp_domain_name }}
  CloudName: overcloud.{{ ocp_cluster_name }}.{{ ocp_domain_name }}
  CloudNameInternal: overcloud.internalapi.{{ ocp_cluster_name }}.{{ ocp_domain_name }}
  CloudNameStorage: overcloud.storage.{{ ocp_cluster_name }}.{{ ocp_domain_name }}
  CloudNameStorageManagement: overcloud.storagemgmt.{{ ocp_cluster_name }}.{{ ocp_domain_name }}
  CloudNameCtlplane: overcloud.ctlplane.{{ ocp_cluster_name }}.{{ ocp_domain_name }}
