parameter_defaults:
  CloudDomain: {{ osp.domain_name }}
  CloudName: overcloud.{{ osp.domain_name }}
  CloudNameInternal: overcloud.internalapi.{{ osp.domain_name }}
  CloudNameStorage: overcloud.storage.{{ osp.domain_name }}
  CloudNameStorageManagement: overcloud.storagemgmt.{{ osp.domain_name }}
  CloudNameCtlplane: overcloud.ctlplane.{{ osp.domain_name }}
