parameter_defaults:
  NtpServer:
    - clock.redhat.com
    - clock2.redhat.com
{% if osp.dns_search_domains is defined and osp.dns_search_domains|length %}
  DnsServers: {{ osp.dns_servers }}
{% endif %}
{% if osp.dns_search_domains is defined and osp.dns_search_domains|length %}
  DnsSearchDomains: {{ osp.dns_search_domains }}
{% endif %}
{% if osp.extrahostfileentries is defined and osp.extrahostfileentries|length %}
  ExtraHostFileEntries:
{% for extrahost in osp.extrahostfileentries %}
    - '{{ extrahost }}'
{% endfor %}
{% endif %}
