{% if "hci" in osp.extrafeatures %}
resource_registry:
{% if osp.release|int >= 17 and custom_config_action|default('deploy') != 'ceph-upgrade' %}
  OS::TripleO::Services::CephMgr: deployment/cephadm/ceph-mgr.yaml
  OS::TripleO::Services::CephMon: deployment/cephadm/ceph-mon.yaml
  OS::TripleO::Services::CephOSD: deployment/cephadm/ceph-osd.yaml
  OS::TripleO::Services::CephClient: deployment/cephadm/ceph-client.yaml
{% else %}
  OS::TripleO::Services::CephMgr: deployment/ceph-ansible/ceph-mgr.yaml
  OS::TripleO::Services::CephMon: deployment/ceph-ansible/ceph-mon.yaml
  OS::TripleO::Services::CephOSD: deployment/ceph-ansible/ceph-osd.yaml
  OS::TripleO::Services::CephClient: deployment/ceph-ansible/ceph-client.yaml
{% endif %}
{% endif %}

{% if "external_ceph" in osp.extrafeatures %}
resource_registry:
{% if osp.release|int >= 17 and custom_config_action|default('deploy') != 'ceph-upgrade' %}
  OS::TripleO::Services::CephExternal: deployment/cephadm/ceph-client.yaml
{% else %}
  OS::TripleO::Services::CephExternal: deployment/ceph-ansible/ceph-client.yaml
{% endif %}
{% endif %}

parameter_defaults:
{% if "hci" in osp.extrafeatures %}

{% if osp.release|int >= 17 %}
  DeployedCeph: false
  CephDynamicSpec: true
  CephSpecFqdn: true
  CephConfigOverrides:
    rgw_swift_enforce_content_length: true
    rgw_swift_versioning_enabled: true
    osd:
      osd_memory_target_autotune: true
      osd_numa_auto_affinity: true
    mgr:
      mgr/cephadm/autotune_memory_target_ratio: 0.2
{% endif %}
{% if osp.release|int < 17 or custom_config_action|default('deploy') == 'ceph-upgrade'  %}
{% if osp.release|int < 17 %}
  CephAnsibleRepo: "rhelosp-ceph-4-tools"
{% else %}
  CephAnsibleRepo: "rhelosp-ceph-5-tools"
{% endif %}
  CephAnsiblePlaybookVerbosity: 3
  CephAnsibleDisksConfig:
    devices:
{% for disk in osp.ceph_osd_disks %}
      - '/dev/{{ disk }}'
{% endfor %}
    osd_scenario: lvm
    osd_objectstore: bluestore
  CephAnsibleExtraConfig:
    is_hci: true
    {% if ceph_extraconfig_network is defined %}{{ ceph_extraconfig_network|to_nice_yaml|indent(4) }}{% endif %}
  CephConfigOverrides:
    rgw_swift_enforce_content_length: true
    rgw_swift_versioning_enabled: true
{% endif %}
  CinderEnableIscsiBackend: false
  CinderEnableRbdBackend: true
  CinderBackupBackend: ceph
  CinderEnableNfsBackend: false
  NovaEnableRbdBackend: true
  GlanceBackend: rbd
  CinderRbdPoolName: "volumes"
  NovaRbdPoolName: "vms"
  GlanceRbdPoolName: "images"
  CephPoolDefaultPgNum: 32
  CephPoolDefaultSize: 2
{% if custom_config_ceph_cluster_name|default(False) %}
  CephClusterName: {{ custom_config_ceph_cluster_name }}
{% endif %}
{% if "dmbs" in osp.extrafeatures %}
  CinderStorageAvailabilityZone: az-{{ custom_config_ceph_cluster_name|default('volume') }}
{% if custom_config_dmbs_remote_site|default(false)  %}
  CinderVolumeCluster: az-{{ custom_config_ceph_cluster_name }}
{% endif %}
{% endif %}
{% elif "external_ceph" in osp.extrafeatures %}
  CinderEnableIscsiBackend: false
  CinderEnableRbdBackend: true
  CinderEnableNfsBackend: false
  NovaEnableRbdBackend: true
  GlanceBackend: rbd
  CinderRbdPoolName: '{{ external_ceph_data.cinder_rbd_pool_name }}'
  NovaRbdPoolName: '{{ external_ceph_data.nova_rbd_pool_name }}'
  GlanceRbdPoolName: '{{ external_ceph_data.glance_rbd_pool_name }}'
  CinderBackupRbdPoolName: '{{ external_ceph_data.cinder_backup_rbd_pool_name }}'
  CephClientUserName: '{{ external_ceph_data.ceph_client_user_name }}'
  CephClusterFSID: '{{ external_ceph_data.ceph_cluster_fsid }}'
  CephExternalMonHost: '{{ external_ceph_data.ceph_external_mon_host }}'
  CephClientKey: '{{ external_ceph_data.ceph_client_key }}'
{% else %}
  GlanceEnabledImportMethods: web-download
  GlanceNetappNfsEnabled: false
  GlanceNfsShare: '{{ nfs_server }}:/home/nfs/glance'
  GlanceNodeStagingUri: file:///var/lib/glance/staging
  GlanceStagingNfsShare: ''
  NetappShareLocation: ''
  GlanceBackend: file
  GlanceNfsEnabled: true
  GlanceNfsOptions: nosharecache,_netdev,bg,intr,context=system_u:object_r:container_file_t:s0
{% if "nova_nfs" in osp.extrafeatures %}
  NovaNfsEnabled: true
  NovaNfsShare: '{{ nfs_server }}:/home/nfs/nova'
  NovaNfsOptions: nosharecache,context=system_u:object_r:nfs_t:s0
{% endif %}
{% if "cinder_nfs" in osp.extrafeatures %}
  CinderEnableIscsiBackend: false
  CinderEnableNfsBackend: true
  CinderNfsServers: '{{ nfs_server }}:/home/nfs/cinder'
  CinderImageConversionNfsShare: '{{ nfs_server }}:/home/nfs/cinder_image_conversion'
  CinderNfsMountOptions: nosharecache,context=system_u:object_r:container_file_t:s0
  ExtraConfig:
    nova::compute::libvirt::nfs_mount_options: 'nosharecache,context=system_u:object_r:nfs_t:s0'
{% endif %}
{% endif %}

parameter_merge_strategies:
    ExtraConfig: merge

