{% if "hci" in osp.extrafeatures %}
resource_registry:
{% if osp.release|int >= 17 %}
  OS::TripleO::Services::CephMgr: deployment/cephadm/ceph-mgr.yaml
  OS::TripleO::Services::CephMon: deployment/cephadm/ceph-mon.yaml
  OS::TripleO::Services::CephOSD: deployment/cephadm/ceph-osd.yaml
  OS::TripleO::Services::CephClient: deployment/cephadm/ceph-client.yaml
{% else %}
  OS::TripleO::Services::CephMgr: deployment/ceph-ansible/ceph-mgr.yaml
  OS::TripleO::Services::CephMon: deployment/ceph-ansible/ceph-mon.yaml
  OS::TripleO::Services::CephOSD: deployment/ceph-ansible/ceph-osd.yaml
  OS::TripleO::Services::CephClient: deployment/ceph-ansible/ceph-client.yaml
{% endif %}
{% endif %}

{% if "external_ceph" in osp.extrafeatures %}
resource_registry:
{% if osp.release|int >= 17 %}
  OS::TripleO::Services::CephExternal: deployment/cephadm/ceph-client.yaml
{% else %}
  OS::TripleO::Services::CephExternal: deployment/ceph-ansible/ceph-client.yaml
{% endif %}
{% endif %}

parameter_defaults:
{% if "hci" in osp.extrafeatures %}
{% if osp.release|int >= 17 %}
  CephDynamicSpec: true
  CephSpecFqdn: true
  CephConfigOverrides:
    rgw_swift_enforce_content_length: true
    rgw_swift_versioning_enabled: true
    osd:
      osd_memory_target_autotune: true
      osd_numa_auto_affinity: true
    mgr:
      mgr/cephadm/autotune_memory_target_ratio: 0.2
{% else %}
  CephAnsibleRepo: "rhelosp-ceph-4-tools"
  CephAnsiblePlaybookVerbosity: 3
  CephAnsibleDisksConfig:
    devices:
{% for disk in osp.ceph_osd_disks %}
      - '/dev/{{ disk }}'
{% endfor %}
    osd_scenario: lvm
    osd_objectstore: bluestore
  CephAnsibleExtraConfig:
    is_hci: true
  CephConfigOverrides:
    rgw_swift_enforce_content_length: true
    rgw_swift_versioning_enabled: true
{% endif %}
  CinderEnableIscsiBackend: false
  CinderEnableRbdBackend: true
  CinderBackupBackend: ceph
  CinderEnableNfsBackend: false
  NovaEnableRbdBackend: true
  GlanceBackend: rbd
  CinderRbdPoolName: "volumes"
  NovaRbdPoolName: "vms"
  GlanceRbdPoolName: "images"
  CephPoolDefaultPgNum: 32
  CephPoolDefaultSize: 2
{% elif "external_ceph" in osp.extrafeatures %}
    CinderEnableIscsiBackend: false
    CinderEnableRbdBackend: true
    CinderEnableNfsBackend: false
    NovaEnableRbdBackend: true
    GlanceBackend: rbd
    CinderRbdPoolName: '{{ external_ceph_data.cinder_rbd_pool_name }}'
    NovaRbdPoolName: '{{ external_ceph_data.nova_rbd_pool_name }}'
    GlanceRbdPoolName: '{{ external_ceph_data.glance_rbd_pool_name }}'
    CinderBackupRbdPoolName: '{{ external_ceph_data.cinder_backup_rbd_pool_name }}'
    CephClientUserName: '{{ external_ceph_data.ceph_client_user_name }}'
    CephClusterFSID: '{{ external_ceph_data.ceph_cluster_fsid }}'
    CephExternalMonHost: '{{ external_ceph_data.ceph_external_mon_host }}'
    CephClientKey: '{{ external_ceph_data.ceph_client_key }}'
{% else %}
  GlanceEnabledImportMethods: web-download
  GlanceNetappNfsEnabled: False
  GlanceNfsOptions: _netdev,bg,intr,context=system_u:object_r:svirt_sandbox_file_t:s0
  GlanceNfsShare: '{{ nfs_server }}:/home/nfs/glance'
  GlanceNodeStagingUri: file:///var/lib/glance/staging
  GlanceStagingNfsOptions: _netdev,bg,intr,context=system_u:object_r:svirt_sandbox_file_t:s0
  GlanceStagingNfsShare: ''
  NetappShareLocation: ''
  GlanceBackend: file
  GlanceNfsEnabled: True
{% endif %}

