parameter_defaults:
{% if osp.tls_public_endpoints|default(false)|bool %}
  SSLCertificate: |
    {{ lookup('file', '/opt/local_CA/certs/openstack/openstack.crt.pem', rstrip=false)|indent(4) }}
  SSLIntermediateCertificate: ''
  SSLKey: |
    {{ lookup('file', '/opt/local_CA/private/openstack.pem', rstrip=false)|indent(4) }}
{% endif %}
  CAMap:
    "redhat_CA":
      content: &root_ca_cert |
        {{ lookup('file', 'files/RH-Root-CA.pem', rstrip=false)|indent(8) }}
{% if osp.tls_public_endpoints|default(false)|bool %}
    "local_CA":
      content: |
        {{ lookup('file', '/opt/local_CA/cacert.pem', rstrip=false)|indent(8) }}
{% endif %}
  # Workaround https://bugzilla.redhat.com/show_bug.cgi?id=1840886
  SSLRootCertificate: *root_ca_cert

resource_registry:
  OS::TripleO::NodeTLSCAData: puppet/extraconfig/tls/ca-inject.yaml
