{% if osp.tlse|default(false)|bool %}
parameter_defaults:
  IdMServer: freeipa.{{ base_domain_name }}
  IdMDomain: {{ osp.domain_name }}
  IdMInstallClientPackages: true

resource_registry:
  OS::TripleO::Services::IpaClient: deployment/ipa/ipaservices-baremetal-ansible.yaml
{% else %}
parameter_defaults:
  EnableInternalTLS: False
{% endif %}
