# Don't use /etc/resolv.conf
no-resolv

# Don't use /etc/hosts
no-hosts

# Recursive DNS
{% for dns_server in external_dns %}
server={{ dns_server }}
{% endfor %}

# Set local domain
domain={{ ocp_ai_full_cluster_name }}

# Disable DHCP for external interface
no-dhcp-interface={{ ocp_ai_ext_intf.stdout }}
# Enable DHCP for baremetal bridge
interface={{ ocp_cluster_name }}bm
# include {{ podman_intf.stdout }} interface that connects to assisted-installer container for DNS requests to succeed
interface={{ podman_intf.stdout }}
bind-interfaces

#### DHCP (dnsmasq --help dhcp)
dhcp-range=192.168.111.6,192.168.111.100,24h
dhcp-option=option:netmask,255.255.255.0
dhcp-option=option:router,192.168.111.1
dhcp-option=option:dns-server,192.168.111.1
dhcp-option=option:ntp-server,192.168.111.1

{% if ocp_disconnected_install %}
# Local registry
address=/registry.example.lab/192.168.111.1
{% endif %}

# Provisioning node
address=/provisioning.{{ ocp_ai_full_cluster_name }}/192.168.111.1
ptr-record=1.{{ ocp_ai_bm_cidr_rev_suffix }},provisioning.{{ ocp_ai_full_cluster_name }}

# Cluster ntp-server
address=/ntp-server.{{ ocp_ai_full_cluster_name }}/192.168.111.1
ptr-record=1.{{ ocp_ai_bm_cidr_rev_suffix }},ntp-server.{{ ocp_ai_full_cluster_name }}

# External API endpoint (External VIP)
address=/api.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.3
ptr-record=3.{{ ocp_ai_bm_cidr_rev_suffix }},api.{{ ocp_ai_full_cluster_name }}

# Ingress VIP 
address=/.apps.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.4
#ptr-record=4.{{ ocp_ai_bm_cidr_rev_suffix }},*apps.{{ ocp_ai_full_cluster_name }}

# Internal API endpoint (Internal VIP)
address=/api-int.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.3
ptr-record=3.{{ ocp_ai_bm_cidr_rev_suffix }},api-int.{{ ocp_ai_full_cluster_name }}

{% for i in range(0, ocp_num_masters) %}
# Master-{{ i }}
dhcp-host={{ ocp_ai_bm_bridge_master_mac_prefix }}{{ i }},{{ ocp_ai_bm_cidr_prefix }}.1{{ i }},master-{{ i }}.{{ ocp_ai_full_cluster_name }}
address=/master-{{ i }}.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.1{{ i }}
ptr-record=1{{ i }}.{{ ocp_ai_bm_cidr_rev_suffix }},master-{{ i }}.{{ ocp_ai_full_cluster_name }}
{% endfor %}

{% for name, master in (ocp_bm_masters | default({})).items() %}
# Master-{{ loop.index0 }}
dhcp-host={{ master["bm_mac"] }},{{ ocp_ai_bm_cidr_prefix }}.1{{ loop.index0 }},master-{{ loop.index0 }}.{{ ocp_ai_full_cluster_name }}
address=/master-{{ loop.index0 }}.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.1{{ loop.index0 }}
ptr-record=1{{ loop.index0 }}.{{ ocp_ai_bm_cidr_rev_suffix }},master-{{ loop.index0 }}.{{ ocp_ai_full_cluster_name }}
{% endfor %}

{% for i in range(0, ocp_num_workers + ocp_num_extra_workers) %}
# Worker-{{ i }}
dhcp-host={{ ocp_ai_bm_bridge_worker_mac_prefix }}{{ i }},{{ ocp_ai_bm_cidr_prefix }}.2{{ i }},worker-{{ i }}.{{ ocp_ai_full_cluster_name }}
address=/worker-{{ i }}.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.2{{ i }}
ptr-record=2{{ i }}.{{ ocp_ai_bm_cidr_rev_suffix }},worker-{{ i }}.{{ ocp_ai_full_cluster_name }}
{% endfor %}

{% for name, worker in (ocp_bm_workers | default({})).items() %}
# worker-{{ loop.index0 }}
dhcp-host={{ worker["bm_mac"] }},{{ ocp_ai_bm_cidr_prefix }}.2{{ loop.index0 }},worker-{{ loop.index0 }}.{{ ocp_ai_full_cluster_name }}
address=/worker-{{ loop.index0 }}.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.2{{ loop.index0 }}
ptr-record=2{{ loop.index0 }}.{{ ocp_ai_bm_cidr_rev_suffix }},worker-{{ loop.index0 }}.{{ ocp_ai_full_cluster_name }}
{% endfor %}

{% for name, worker in (ocp_bm_extra_workers | default({})).items() %}
{% if (worker["bm_mac"] | default("")) != "" %}
{% with worker_index = ocp_bm_workers | default({}) | length + loop.index0 %}
# worker-{{ worker_index }}
dhcp-host={{ worker["bm_mac"] }},{{ ocp_ai_bm_cidr_prefix }}.2{{ worker_index }},worker-{{ worker_index }}.{{ ocp_ai_full_cluster_name }}
address=/worker-{{ worker_index }}.{{ ocp_ai_full_cluster_name }}/{{ ocp_ai_bm_cidr_prefix }}.2{{ worker_index }}
ptr-record=2{{ worker_index }}.{{ ocp_ai_bm_cidr_rev_suffix }},worker-{{ worker_index }}.{{ ocp_ai_full_cluster_name }}
{% endwith %}
{% endif %}
{% endfor %}

#
# END OF FILE
#
