apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackBaremetalSet
metadata:
{% if osp.compute.hci %}
  name: computehci
{% else %}
  name: compute
{% endif %}
  namespace: openstack
spec:
  # How many nodes to provision
  count: {{ osp.compute.count }}
  # The image to install on the provisioned nodes
  baseImageUrl: http://192.168.111.1/images/{{ osp.controller.base_image_url | basename }}
  provisionServerName: openstack
  # The secret containing the SSH pub key to place on the provisioned nodes
  deploymentSSHSecret: osp-controlplane-ssh-keys
  # The interface on the nodes that will be assigned an IP from the mgmtCidr
  ctlplaneInterface: {{ osp.interface.ospnetwork }}
  # Networks to associate with this host
  networks:
    - ctlplane
    - external
    - internalapi
    - tenant
    - storage
{% if osp.compute.hci %}
    - storagemgmt
  roleName: ComputeHCI
{% else %}
  roleName: Compute
{% endif %}
  passwordSecret: userpassword
