apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackBaremetalSet
metadata:
{% if osp_compute_hci %}
  name: computehci
{% else %}
  name: compute
{% endif %}
  namespace: openstack
spec:
  # How many nodes to provision
  replicas: {{ osp_compute_count }}
  # The image to install on the provisioned nodes
{% if ocp_ai|bool == False %}
  baseImageUrl: http://172.22.0.1/images/{{ osp_controller_base_image_url | basename }}
{% else %}
  baseImageUrl: http://{{ ocp_ai_bm_ip }}:{{ ocp_ai_http_store_port | default('8080', true) }}/{{ osp_controller_base_image_url | basename }}
{% endif %}
  provisionServerName: openstack
  # The secret containing the SSH pub key to place on the provisioned nodes
  deploymentSSHSecret: osp-controlplane-ssh-keys
  # The interface on the nodes that will be assigned an IP from the mgmtCidr
  ctlplaneInterface: eth2
  # Networks to associate with this host
  networks:
    - ctlplane
    - internalapi
    - tenant
    - storage
{% if osp_compute_hci %}
    - storagemgmt
  roleName: ComputeHCI
{% else %}
  roleName: Compute
{% endif %}
  passwordSecret: userpassword
