apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackBaremetalSet
metadata:
  name: {{ _role|lower }}
  namespace: {{ namespace }}
spec:
  # How many nodes to provision
  count: {{ osp.bmset[_role].count }}
  # The image to install on the provisioned nodes
  baseImageUrl: http://192.168.111.1/images/{{ osp.base_image_url | basename }}
  provisionServerName: openstack
  # The secret containing the SSH pub key to place on the provisioned nodes
  deploymentSSHSecret: osp-controlplane-ssh-keys
  # The interface on the nodes that will be assigned an IP from the mgmtCidr
  ctlplaneInterface: {{ osp.bmset[_role].ctlplane_interface }}
  # Networks to associate with this host
  networks:
{% for net in osp.bmset[_role].networks %}
        - {{ net }}
{% endfor %}
  roleName: {{ _role }}
  passwordSecret: userpassword
