apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackProvisionServer
metadata:
  name: openstack
  namespace: openstack
spec:
  port: 8080
{% if ocp_ai|bool == False %}
  baseImageUrl: http://172.22.0.1/images/{{ osp_controller_base_image_url | basename }}
{% else %}
  baseImageUrl: http://{{ ocp_ai_bm_ip }}:{{ ocp_ai_http_store_port | default('8080', true) }}/{{ osp_controller_base_image_url | basename }}
{% endif %}
