{% for i in range(ocp_num_workers, ocp_num_extra_workers+ocp_num_workers) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-worker-{{ i }}-bmc-secret
  namespace: openshift-machine-api
type: Opaque
data:
  username: VVNFUklE
  password: UEFTU1cwUkQ=

---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: openshift-worker-{{ i }}
  namespace: openshift-machine-api
  annotations:
    inspect.metal3.io: disabled
  labels:
    app: openstack
spec:
  automatedCleaningMode: {{ ocp_ai_automated_cleaning_mode }}
  online: false
  bootMACAddress: {{ ocp_ai_prov_bridge_worker_mac_prefix }}{{ i }}
  bmc:
    address: {{ ocp_ai_bmc_protocol | default('redfish+http') }}://{{ ocp_ai_bm_cidr_prefix }}.1:{{ ocp_ai_sushy_port | default('8082', true) }}/redfish/v1/Systems/{{ extra_worker_uuids.results[i].stdout }}
    credentialsName: openshift-worker-{{ i }}-bmc-secret
  hardwareProfile: unknown
  bootMode: legacy
  rootDeviceHints:
    hctl: "0:0:0:0"

{% endfor %}
{% for name, worker in (ocp_bm_extra_workers | default({})).items() %}
{% with worker_index = ocp_bm_workers | default({}) | length + loop.index0 %}
---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-worker-{{ worker_index }}-bmc-secret
  namespace: openshift-machine-api
type: Opaque
data:
  username: {{ worker["bmc_username"] | b64encode }}
  password: {{ worker["bmc_password"] | b64encode }}

---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: openshift-worker-{{ worker_index }}
  namespace: openshift-machine-api
  annotations:
    inspect.metal3.io: disabled
  labels:
    app: openstack
spec:
  automatedCleaningMode: {{ ocp_ai_automated_cleaning_mode }}
  online: false
  bootMACAddress: {{ worker["prov_mac"] }}
  bmc:
    address: {{ worker["bmc_protocol"] | default("ipmi") }}://{{ worker["bmc_address"] }}
    credentialsName: openshift-worker-{{ worker_index }}-bmc-secret
{% if worker["bmc_disable_cert_verify"] is defined and worker["bmc_disable_cert_verify"] == True %}
    disableCertificateVerification: true
{% endif %}
  hardwareProfile: unknown
  bootMode: legacy
{% if worker["root_device_hints"] is defined and worker["root_device_hints"] | length > 0 %}
  rootDeviceHints:
{% for hint in worker["root_device_hints"] %}
    {{ hint.name }}: "{{ hint.value }}"
{% endfor %}
{% else %}
  rootDeviceHints:
    deviceName: {{ worker["root_device"] | default("/dev/sda") }}
{% endif %}
{% endwith %}
{% endfor %}
