{% for i in range(ocp_num_workers, ocp_num_extra_workers+ocp_num_workers) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-worker-{{ i }}-bmc-secret
  namespace: openshift-machine-api
type: Opaque
data:
  username: VVNFUklE
  password: UEFTU1cwUkQ=

---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: openshift-worker-{{ i }}
  namespace: openshift-machine-api
spec:
  online: false
  bootMACAddress: {{ ocp_ai_prov_bridge_worker_mac_prefix }}{{ i }}
  bmc:
    address: redfish+http://{{ ocp_ai_bm_ip }}:{{ ocp_ai_sushy_port | default('8082', true) }}/redfish/v1/Systems/{{ extra_worker_uuids.results[i].stdout }}
    credentialsName: openshift-worker-{{ i }}-bmc-secret
  hardwareProfile: unknown
  bootMode: legacy
  rootDeviceHints:
    deviceName: /dev/vda

{% endfor %}