apiVersion: metal3.io/v1alpha1
kind: Provisioning
metadata:
  finalizers:
  - provisioning.metal3.io
  name: provisioning-configuration
spec:
  provisioningDHCPRange: 172.22.0.10,172.22.0.50
  provisioningIP: 172.22.0.3
  provisioningInterface: {{ ocp_ai_prov_interface if ocp_bm_masters|default({})|length > 0 else "enp1s0" }}
  provisioningNetwork: Managed
  provisioningNetworkCIDR: 172.22.0.0/24
