apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackDeploy
metadata:
  name: update-computes
spec:
  configVersion: {{ config_version }}
  configGenerator: update
  mode: update
  ansibleSettings:
    limit: Controller