---
parameter_defaults:

    # The OVS logical->physical bridge mappings to use.
    NeutronBridgeMappings: "datacentre:br-ex"
    # Defines the flat networks to configure in neutron plugins.
    NeutronFlatNetworks: "datacentre"

    NovaSchedulerDefaultFilters:
    - "RetryFilter"
    - "AvailabilityZoneFilter"
    - "ComputeFilter"
    - "ComputeCapabilitiesFilter"
    - "ImagePropertiesFilter"
    - "ServerGroupAntiAffinityFilter"
    - "ServerGroupAffinityFilter"
    - "PciPassthroughFilter"
    - "NUMATopologyFilter"
    - "AggregateInstanceExtraSpecsFilter"

    NeutronFlatNetworks: datacentre,sriov-1

    ComputeOvsDpdkSriovParameters:
        KernelArgs: "default_hugepagesz=1GB hugepagesz=1G hugepages=64 iommu=pt intel_iommu=on tsx=off isolcpus=0-80"
        NeutronBridgeMappings: "datacentre:br-ex"
        IsolCpusList: "0-80"
        NovaReservedHostMemory: 4096
        OvsDpdkSocketMemory: "4096,1024"
        OvsDpdkMemoryChannels: "4"
        OvsPmdCoreList: "2,3"
        NovaComputeCpuSharedSet: [0, 20, 1, 21]
        NovaComputeCpuDedicatedSet: ["8-19,28-39"]
        NovaPCIPassthrough:
          - devname: "ens1f3"
            trusted: "true"
            physical_network: "sriov-1"
        NeutronPhysicalDevMappings: 
            - "sriov-1:ens1f3"
        