---
enable_freeipa: true

osp_release_defaults:
  tlse: true
  networks: ipv4_subnet
  vmset:
    Controller:
      count: 1
      cores: 6
      disk_size: 40
      memory: 20
      networks:
        - ctlplane
        - internal_api
        - external
        - tenant
        - storage
        - storage_mgmt
      storage_class: host-nfs-storageclass
  bmset:
    Compute:
      count: 0
    ComputeHCILeaf1:
      count: 2
      ctlplane_interface: enp7s0
      networks:
        - ctlplane
        - external
        - internal_api_leaf1
        - storage_leaf1
        - storage_mgmt_leaf1
        - tenant_leaf1
  extrafeatures:
    - hci
