ocp_num_workers: 2
ocp_num_extra_workers: 5
ocp_ai_bmc_protocol: redfish-virtualmedia+http

osp_release_defaults:
  networks: ipv4_dcn
  vmset:
    Controller:
      count: 1
      cores: 6
      memory: 20
      networks:
        - ctlplane
        - internal_api
        - external
        - tenant
        - storage
        - storage_mgmt
      root_disk:
        disk_size: 40
        storage_class: host-nfs-storageclass
        storage_access_mode: ReadWriteMany
        storage_volume_mode: Filesystem
  bmset:
    Compute:
      count: 0
    ComputeHCI:
      count: 2
      ctlplane_interface: enp1s0
      networks:
        - ctlplane
        - internal_api
        - tenant
        - storage
        - storage_mgmt
    DistributedComputeHCILeaf1:
      count: 3
      ctlplane_interface: enp1s0
      networks:
        - ctlplane_leaf1
        - internal_api_leaf1
        - storage_leaf1
        - storage_mgmt_leaf1
        - tenant_leaf1
  extrafeatures:
    - hci
