---
osp_networks:
# keeps ctlplane and tenant as ipv4
  ctlplane:
    name: Control
    name_lower: ctlplane
    is_control_plane: true
    mtu: 9000
    subnets:
    - name: ctlplane
      ipv4:
        cidr: 192.168.25.0/24
        gateway: 192.168.25.1
        allocation:
          start: 192.168.25.100
          end: 192.168.25.250
      attach_config: br-osp
  internalapi:
    name: InternalApi
    name_lower: internal_api
    subnets:
    - name: internal_api
      vlan: 20
      ipv6:
        cidr: fd00:fd00:fd00:2000::/64
        allocation:
          start: fd00:fd00:fd00:2000::10
          end: fd00:fd00:fd00:2000:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:2000::1
        routes:
        - destination: fd00:fd00:fd00:2001::/64
          nexthop: fd00:fd00:fd00:2000::1
        - destination: fd00:fd00:fd00:2002::/64
          nexthop: fd00:fd00:fd00:2000::1
      attach_config: br-osp
    - name: internal_api_leaf1
      vlan: 21
      ipv6:
        cidr: fd00:fd00:fd00:2001::/64
        allocation:
          start: fd00:fd00:fd00:2001::10
          end: fd00:fd00:fd00:2001:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:2001::1
        routes:
        - destination: fd00:fd00:fd00:2000::/64
          nexthop: fd00:fd00:fd00:2001::1
        - destination: fd00:fd00:fd00:2002::/64
          nexthop: fd00:fd00:fd00:2001::1
      attach_config: br-osp
    - name: internal_api_leaf2
      vlan: 22
      ipv6:
        cidr: fd00:fd00:fd00:2002::/64
        allocation:
          start: fd00:fd00:fd00:2002::10
          end: fd00:fd00:fd00:2002:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:2002::1
        routes:
        - destination: fd00:fd00:fd00:2000::/64
          nexthop: fd00:fd00:fd00:2002::1
        - destination: fd00:fd00:fd00:2001::/64
          nexthop: fd00:fd00:fd00:2002::1
      attach_config: br-osp
  external:
    name: External
    name_lower: external
    subnets:
    - name: external
      ipv6:
        cidr: 2001:db8:fd00:1000::/64
        gateway: 2001:db8:fd00:1000::1
        allocation:
          start: 2001:db8:fd00:1000::10
          end: 2001:db8:fd00:1000:ffff:ffff:ffff:fffe
      attach_config: br-ex
  storage:
    name: Storage
    name_lower: storage
    mtu: 9000
    subnets:
    - name: storage
      vlan: 30
      ipv6:
        cidr: fd00:fd00:fd00:3000::/64
        allocation:
          start: fd00:fd00:fd00:3000::10
          end: fd00:fd00:fd00:3000:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:3000::1
        routes:
        - destination: fd00:fd00:fd00:3001::/64
          nexthop: fd00:fd00:fd00:3000::1
        - destination: fd00:fd00:fd00:3002::/64
          nexthop: fd00:fd00:fd00:3000::1
      attach_config: br-osp
    - name: storage_leaf1
      vlan: 31
      ipv6:
        cidr: fd00:fd00:fd00:3001::/64
        allocation:
          start: fd00:fd00:fd00:3001::10
          end: fd00:fd00:fd00:3001:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:3001::1
        routes:
        - destination: fd00:fd00:fd00:3000::/64
          nexthop: fd00:fd00:fd00:3001::1
        - destination: fd00:fd00:fd00:3002::/64
          nexthop: fd00:fd00:fd00:3001::1
      attach_config: br-osp
    - name: storage_leaf2
      vlan: 32
      ipv6:
        cidr: fd00:fd00:fd00:3002::/64
        allocation:
          start: fd00:fd00:fd00:3002::10
          end: fd00:fd00:fd00:3002:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:3002::1
        routes:
        - destination: fd00:fd00:fd00:3000::/64
          nexthop: fd00:fd00:fd00:3002::1
        - destination: fd00:fd00:fd00:3001::/64
          nexthop: fd00:fd00:fd00:3002::1
      attach_config: br-osp
  storagemgmt:
    name: StorageMgmt
    name_lower: storage_mgmt
    subnets:
    - name: storage_mgmt
      vlan: 40
      ipv6:
        cidr: fd00:fd00:fd00:4000::/64
        allocation:
          start: fd00:fd00:fd00:4000::10
          end: fd00:fd00:fd00:4000:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:4000::1
        routes:
        - destination: fd00:fd00:fd00:4001::/64
          nexthop: fd00:fd00:fd00:4000::1
        - destination: fd00:fd00:fd00:4002::/64
          nexthop: fd00:fd00:fd00:4000::1
      attach_config: br-osp
    - name: storage_mgmt_leaf1
      vlan: 41
      ipv6:
        cidr: fd00:fd00:fd00:4001::/64
        allocation:
          start: fd00:fd00:fd00:4001::10
          end: fd00:fd00:fd00:4001:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:4001::1
        routes:
        - destination: fd00:fd00:fd00:4000::/64
          nexthop: fd00:fd00:fd00:4001::1
        - destination: fd00:fd00:fd00:4002::/64
          nexthop: fd00:fd00:fd00:4001::1
      attach_config: br-osp
    - name: storage_mgmt_leaf2
      vlan: 42
      ipv6:
        cidr: fd00:fd00:fd00:4002::/64
        allocation:
          start: fd00:fd00:fd00:4002::10
          end: fd00:fd00:fd00:4002:ffff:ffff:ffff:fffe
        gateway: fd00:fd00:fd00:4002::1
        routes:
        - destination: fd00:fd00:fd00:4000::/64
          nexthop: fd00:fd00:fd00:4002::1
        - destination: fd00:fd00:fd00:4001::/64
          nexthop: fd00:fd00:fd00:4002::1
      attach_config: br-osp
  tenant:
    name: Tenant
    name_lower: tenant
    vip: false
    mtu: 9000
    subnets:
    - name: tenant
      vlan: 50
      vip: false
      ipv4:
        cidr: 172.20.0.0/24
        allocation:
          start: 172.20.0.10
          end: 172.20.0.250
        gateway: 172.20.0.1
        routes:
        - destination: 172.20.1.0/24
          nexthop: 172.20.0.1
        - destination: 172.20.2.0/24
          nexthop: 172.20.0.1
      attach_config: br-osp
    - name: tenant_leaf1
      vlan: 51
      vip: false
      ipv4:
        cidr: 172.20.1.0/24
        allocation:
          start: 172.20.1.10
          end: 172.20.1.250
        gateway: 172.20.1.1
        routes:
        - destination: 172.20.0.0/24
          nexthop: 172.20.1.1
        - destination: 172.20.2.0/24
          nexthop: 172.20.1.1
      attach_config: br-osp
    - name: tenant_leaf2
      vlan: 52
      vip: false
      ipv4:
        cidr: 172.20.2.0/24
        allocation:
          start: 172.20.2.10
          end: 172.20.2.250
        gateway: 172.20.2.1
        routes:
        - destination: 172.20.0.0/24
          nexthop: 172.20.2.1
        - destination: 172.20.1.0/24
          nexthop: 172.20.2.1
      attach_config: br-osp
