---
# this address needs to be reachable from IPMI/iDRAC if BM worker is used 
ocp_ai_discovery_iso_server: 192.168.111.1

# ocp_ai_ansible_repo: defaults to "https://github.com/openstack-k8s-operators/crucible.git"
# ocp_ai_ansible_branch: defaults to "apiV2"

ocp_ai_bm_bridge_master_mac_prefix: 3c:fd:fe:78:ab:0
ocp_ai_bm_bridge_worker_mac_prefix: 3c:fd:fe:78:ab:1
ocp_ai_prov_bridge_master_mac_prefix: 3c:fd:fe:78:cd:0
ocp_ai_prov_bridge_worker_mac_prefix: 3c:fd:fe:78:cd:1

# Metal3 provisioning interface on BM OCP nodes (used in Metal3 Provisioning CR
# for BM OCP masters, otherwise ignored)
ocp_ai_prov_interface: enp1s0

# ocp_ai_sushy_port: defaults to "8082"

ocp_ai_libvirt_storage_dir: /var/lib/libvirt/images

# Pin aicli and its associated client library to a known working pair for AI API v2
ocp_ai_cli_version: "99.0.202205080021.202103111306"
ocp_ai_cli_lib_version: "2.3.0.post43"
