apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackPlaybookGenerator
metadata:
  name: default
  namespace: openstack
spec:
  gitSecret: git-secret
  imageURL: {{ openstackclient_image }}
  heatEnvConfigMap: tripleo-deploy-config-custom
  tarballConfigMap: tripleo-tarball-config
