apiVersion: v1
kind: PersistentVolume
metadata:
  name: "host-nfs-storageclass-{{ name }}"
spec:
  capacity:
    storage: "{{ size }}Gi"
  accessModes:
  - {% if shared %}ReadWriteMany{% else %}ReadWriteOnce{% endif %}
  nfs: 
    path: {{ nfs_export_dir}}/{{ name }}
    server: 192.168.111.1
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: host-nfs-storageclass
