apiVersion: v1
kind: Pod
metadata:
  name: tempest
  namespace: default
spec:
  metadata:
    labels:
      app: tempest
  restartPolicy: Never
  initContainers:
    - name: tempest-run
      image: docker.io/tripleotrain/rhel-binary-tempest:current-tripleo
      command: ["/bin/sh"]
      args: ["-c", "/var/lib/tempest/container_tempest_bin/tempest_script.sh"]
      volumeMounts:
        - name: tempest-config
          mountPath: /var/lib/tempest/container_tempest_config
        - name: tempest-bin
          mountPath: /var/lib/tempest/container_tempest_bin
        - name: tempest-workspace
          mountPath: /var/lib/tempest/tempest_workspace
        - name: clouds-config
          mountPath: /etc/openstack
  containers:
    - name: tempest
      image: registry.redhat.io/rhosp-rhel8/openstack-tempest:16.0
      command:
      - sleep
      - infinity
      volumeMounts:
        - name: tempest-config
          mountPath: /var/lib/tempest/container_tempest_config
        - name: tempest-bin
          mountPath: /var/lib/tempest/container_tempest_bin
        - name: tempest-workspace
          mountPath: /var/lib/tempest/tempest_workspace
        - name: clouds-config
          mountPath: /etc/openstack
  volumes:
    - name: tempest-config
      configMap:
        name: tempest-config
        defaultMode: 0444
    - name: tempest-bin
      configMap:
        name: tempest-bin
        defaultMode: 0555
    - name: tempest-workspace
      emptyDir: {}
    - name: clouds-config
      configMap:
        name: openstackclient-config
        items:
          - key: clouds.yaml
            path: clouds.yaml
