apiVersion: osp-director.openstack.org/v1beta1
kind: OpenStackNet
metadata:
  name: tenant
spec:
  cidr: 172.20.0.0/24
  vlan: 50
  allocationStart: 172.20.0.10
  allocationEnd: 172.20.0.250
  attachConfiguration:
    nodeNetworkConfigurationPolicy:
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      desiredState:
        interfaces:
        - bridge:
            options:
              stp:
                enabled: false
            port:
            - name: {{ osp.interface.ospnetwork }}
          description: Linux bridge with {{ osp.interface.ospnetwork }} as a port
          name: br-osp
          state: up
          type: linux-bridge
