parameter_defaults:
    CeilometerEnableGnocchi: true
    CeilometerEnablePanko: false
    EventPipelinePublishers:
    - gnocchi://?filter_project=service&archive_policy=ceilometer-high
    GnocchiArchivePolicy: high
    GnocchiBackend: rbd
    GnocchiRbdPoolName: metrics
    ManagePipelines: true
    ManagePolling: true
    PipelinePublishers:
    - gnocchi://?filter_project=service&archive_policy=ceilometer-high
