---
- hosts: overcloud
  become: true
  gather_facts: false

  tasks:
  - name: Wait for all overcloud nodes to be available
    wait_for_connection:
      connect_timeout: 10
      sleep: 5
      delay: 5
      timeout: {{ ((default_timeout | int) * 6) if (ocp_bm_extra_workers | default ({}) | length) > 0 else ((default_timeout | int) * 3) }}

{% if osp_registry_method == "rhsm" %}
  - name: Red Hat Subscription Management configuration
    import_role:
      name: redhat-subscription
    vars:
      rhsm_activation_key: "{{ rhel_subscription_activation_key }}"
      rhsm_org_id: "{{ rhel_subscription_org_id }}"
      rhsm_release: "{{ osp_rhel_subscription_release }}"
      rhsm_repos: "{{ osp_rhel_subscription_repos }}"
      rhsm_server_hostname: "{{ rhel_subscription_server_hostname|default(omit) }}"
## float() returns 0.0 if var cannot converted to float, all upstream release names returns 0.0
{% elif osp.release|float() >=  16.2 %}
  - name: install rhos-release
    dnf:
      name: http://download.devel.redhat.com/rcm-guest/puddles/OpenStack/rhos-release/rhos-release-latest.noarch.rpm
      state: present
      disable_gpg_check: true
  - name: run rhos-release
    shell: |
      rhos-release {{ osp.release }} -H {{ osp_rhos_release_mirror }} -p {{ osp_rhos_release_compose }} -r {{ osp_rhel_subscription_release }}
{% else %}
  - name: Add TripleO current repo
    yum_repository:
      name: tripleocurrent
      description: TripleO current repo
      file: tripleo_current
      baseurl: "https://trunk.rdoproject.org/{{ centos_release }}/component/tripleo/current/"
      gpgcheck: no
  - name: install tripleo-repos
    dnf:
      name: python3-tripleo-repos
      state: present
      disable_gpg_check: true
  - name: run tripleo-repos
    shell: |
      tripleo-repos -d {{ centos_release }} -b {{ osp.release }} current-tripleo
{% if centos_release == "train" %}
  # TODO: move command list to vars file to make it possible to be version specific
  - name: disable container-tools:rhel8 and enable container-tools:3.0
    shell: |
      dnf module disable container-tools:rhel8 -y
      dnf module enable container-tools:3.0 -y
      dnf module enable idm:client -y
      dnf module enable perl:5.26 -y
      dnf module enable perl-IO-Socket-SSL:2.066 -y
      dnf module enable perl-libwww-perl:6.34 -y
      dnf clean metadata
{% endif %}
{% endif %}
{% if osp_predeploy_update_packages %}
  - name: update all packages
    dnf:
      name: "*"
      state: latest

  - name: Reboot for new kernel
    shell: reboot
    async: 1
    poll: 0

  - name: Wait for the reboot and reconnect
    wait_for_connection:
      connect_timeout: 10
      sleep: 5
      delay: 5
      timeout: {{ ((default_timeout | int) * 6) if (ocp_bm_extra_workers | default ({}) | length) > 0 else ((default_timeout | int) * 3) }}
{% endif %}

