---
- hosts: Controller:ControllerSriov:CustomFoo
  become: true

  tasks:
  - name: Pre-install fencing agents which support fence_kubevirt
    package:
      state: installed
      name:
{% for pkg in fencing_agent_packages %}
        - {{ pkg }}
{% endfor %}
      disable_gpg_check: yes
      validate_certs: no
