#! /bin/bash

kinit admin <<< {{ freeipa_admin_password }}

# Delete the openstackclient pod (enrolled by admin user)
for h in $(ipa host-find --pkey-only --not-in-hostgroups=ipaservers --enroll-by-users=admin | sed -ne 's/\s*Host name:\s*//p'); do
  ipa host-del $h --updatedns
done

