#! /bin/bash

kinit admin <<< abcd4321

# Delete all hosts except the IPA server and the openstackclient pod (enrolled by admin user)
for h in $(ipa host-find --pkey-only --not-in-hostgroups=ipaservers --not-enroll-by-users=admin | sed -ne 's/\s*Host name:\s*//p'); do
  ipa host-del $h --updatedns
done

