#! /bin/bash

kinit admin <<< {{ freeipa_admin_password }}

# Delete all hosts except the IPA server
for h in $(ipa host-find --pkey-only --not-in-hostgroups=ipaservers | sed -ne 's/\s*Host name:\s*//p'); do
  ipa host-del $h --updatedns
done

