---
- hosts: localhost
  vars_files: vars/default.yaml
  roles:
  - oc_local

  tasks:
  - name: Set combined osp dict
    set_fact:
      osp: "{{ osp_defaults | combine((osp_release_defaults | default({})), recursive=True) | combine((osp_local | default({})), recursive=True) }}"

  - name: Include network file {{ osp.networks }}.yaml
    include_vars:
      file: "{{ osp.networks }}.yaml"

  - name: Set directory for networks yaml files
    set_fact:
      network_yaml_dir: "{{ working_yamls_dir }}/networks"

  - name: show yaml output dir
    debug:
      msg: "yamls will be written to {{ network_yaml_dir }} locally"

  - name: Clean yaml dir
    file:
      state: absent
      path: "{{ network_yaml_dir }}/"

  - name: Create yaml dir
    file:
      path: "{{ network_yaml_dir }}"
      state: directory
      mode: '0755'

  - name: Render templates to yaml dir
    template:
      src: "osp/netconfig/osnetconfig.yaml.j2"
      dest: "{{ network_yaml_dir }}/osnetconfig.yaml"
      mode: '0644'

  - name: Start networks
    shell: |
      set -e
      oc apply -n openstack -f "{{ network_yaml_dir }}"
    environment: &oc_env
      PATH: "{{ oc_env_path }}"
      KUBECONFIG: "{{ kubeconfig }}"
    # Retry on failure, probably osnet does not exist yet
    retries: 15
    delay: 10

  # Notes:
  # * can not use nmcli module https://github.com/ansible/ansible/issues/48055
  # * don't apply these persistent, in case of a host reboot those need to be reapplied
  - name: Create IPv4 gateways on isolated vlan networks
    become: true
    become_user: root
    vars:
      cidr_suffix: "{{ item.1.ipv4.cidr | regex_search('.*/(.+)', '\\1') | first }}"
    shell: |
      set -e
      ip link del link ospnetwork name ospnetwork.{{ item.1.vlan }} type vlan id {{ item.1.vlan }} || true
      ip link add link ospnetwork name ospnetwork.{{ item.1.vlan }} type vlan id {{ item.1.vlan }} || true
      ip addr flush dev ospnetwork.{{ item.1.vlan }}
      ip addr add {{ item.1.ipv4.gateway }}/{{ cidr_suffix }} dev ospnetwork.{{ item.1.vlan }}
      ip link set ospnetwork.{{ item.1.vlan }} up
      firewall-cmd --zone=libvirt --change-interface=ospnetwork.{{ item.1.vlan }}
      iptables -I FORWARD 1 -s {{ item.1.ipv4.cidr }} ! -d {{ item.1.ipv4.cidr }} -j ACCEPT
    with_subelements:
    - "{{ osp_networks }}"
    - subnets
    when:
    - item.1.vlan is defined
    - item.1.ipv4.gateway is defined

  - name: Create IPv6 gateways on isolated vlan networks
    become: true
    become_user: root
    vars:
      cidr_suffix: "{{ item.1.ipv6.cidr | regex_search('.*/(.+)', '\\1') | first }}"
    shell: |
      set -e
      ip link del link ospnetwork name ospnetwork.{{ item.1.vlan }} type vlan id {{ item.1.vlan }} || true
      ip link add link ospnetwork name ospnetwork.{{ item.1.vlan }} type vlan id {{ item.1.vlan }} || true
      sysctl net.ipv6.conf.ospnetwork/{{ item.1.vlan }}.autoconf=0
      sysctl net.ipv6.conf.ospnetwork/{{ item.1.vlan }}.accept_ra=0
      sysctl net.ipv6.conf.ospnetwork/{{ item.1.vlan }}.disable_ipv6=0
      ip addr flush dev ospnetwork.{{ item.1.vlan }}
      ip addr add {{ item.1.ipv6.gateway }}/{{ cidr_suffix }} dev ospnetwork.{{ item.1.vlan }}
      ip link set ospnetwork.{{ item.1.vlan }} up
      firewall-cmd --zone=libvirt --change-interface=ospnetwork.{{ item.1.vlan }}
      ip6tables -I FORWARD 1 -s {{ item.1.ipv6.cidr }} ! -d {{ item.1.ipv6.cidr }} -j ACCEPT
    args:
      executable: /bin/bash
    with_subelements:
    - "{{ osp_networks }}"
    - subnets
    when:
    - item.1.vlan is defined
    - item.1.ipv6.gateway is defined
