#!/usr/bin/env ansible-playbook
---
- hosts: localhost
  vars_files: "vars/default.yaml"
  roles:
  - oc_local

  tasks:
  - name: Set directory for osp-director-operator yaml files
    set_fact:
      yaml_dir: "{{ working_yamls_dir }}/osp-director-operator"

  - name: Create yaml dir
    file:
      path: "{{ yaml_dir }}"
      state: directory

  - name: render all osp-director-operator templates
    template:
      src:  "osp-director-operator/{{ item }}.j2"
      dest: "{{ yaml_dir }}/{{ item }}"
    with_items:
    - catalogsource.yaml
    - operatorgroup.yaml
    - subscription.yaml

  - name: Deploy the catalogsource
    shell: |
      oc apply -f "{{ yaml_dir }}/catalogsource.yaml"
    environment: &oc_env
      PATH: "{{ oc_env_path }}"
      KUBECONFIG: "{{ kubeconfig }}"

  - name: Wait for the catalogSource to be available
    shell: |
      oc wait pod -l olm.catalogSource=osp-director-operator-index --for condition=ready -n "{{ namespace }}" --timeout={{ default_timeout }}s
    environment:
      <<: *oc_env

  - name: Waiting for packagemanifest 'osp-director-operator' to be created
    shell: |
      oc get -n "{{ namespace }}" packagemanifest/osp-director-operator
    environment:
      <<: *oc_env
    register: packagemanifest_creation
    until: packagemanifest_creation is not failed
    retries: "{{ (default_timeout / 5)|int }}"
    delay: 5

  - name: Deploy the operatorgroup
    shell: |
      oc apply -f "{{ yaml_dir }}/operatorgroup.yaml"
    environment:
      <<: *oc_env

  - name: Deploy the subscription
    shell: |
      oc apply -f "{{ yaml_dir }}/subscription.yaml"
    environment:
      <<: *oc_env

  - name: Waiting for deployment 'osp-director-operator-controller-manager' to be created
    shell: |
      oc get -n "{{ namespace }}" deploy/osp-director-operator-controller-manager
    environment:
      <<: *oc_env
    register: manager_creation
    until: manager_creation is not failed
    retries: "{{ (default_timeout / 5)|int }}"
    delay: 5

  - name: Waiting for osp-director-operator-controller-manager pod to be ready
    shell: |
      oc wait pod -l control-plane=controller-manager --for condition=ready -n "{{ namespace }}" --timeout={{ default_timeout }}s
    environment:
      <<: *oc_env
