---
- hosts: localhost
  vars_files: vars/default.yaml
  roles:
  - oc_local

  tasks:
  - name: openstack cleanup
    command: "{{ item }}"
    environment: &oc_env
      PATH: "{{ oc_env_path }}"
      KUBECONFIG: "{{ kubeconfig }}"
    ignore_errors: true
    with_items:
      - "oc delete -n openstack openstackdeploy --all"
      - "oc delete -n openstack openstackconfiggenerator --all"
      - "oc delete -n openstack openstackconfigversion --all"
      - "oc delete -n openstack openstackephemeralheat --all"
      - "oc delete -n openstack openstackbaremetalset --all"
      - "oc delete -n openstack openstackcontrolplane --all"
      - "oc delete -n openstack openstackvmset --all"
      - "oc delete -n openstack openstackclient --all"
      - "oc delete -n openstack openstacknetconfig --all"
      - "oc delete -n openstack cm tripleo-deploy-config heat-env-config tripleo-tarball-config --ignore-not-found=true"
      - "oc delete -n openstack events --all"

  # For virtualized 3-combo-node deployments, switch Metal3 provisioning network back to the default provisioning interface
  - name: Adjust Metal3 provisioning network for OCP 3-combo-node scenario
    when: ocp_worker_count|int < 1 and ocp_num_masters > 0
    block:
    - name: Reset AI provisioning interface
      when: ocp_ai|bool
      block:
      - name: Include AI variables
        include_vars: vars/ocp_ai.yaml

      - name: Reset AI provisioning interface
        shell: |
          oc patch provisioning provisioning-configuration --type='json' -p='[{"op": "replace", "path": "/spec/provisioningInterface", "value": "{{ ocp_ai_prov_interface }}"}]'
        environment:
          <<: *oc_env
        ignore_errors: true

    - name: Reset dev-scripts provisioning interface
      when: not (ocp_ai|bool)
      shell: |
        oc patch provisioning provisioning-configuration --type='json' -p='[{"op": "replace", "path": "/spec/provisioningInterface", "value": "enp1s0"}]'
      environment:
        <<: *oc_env

  - name: delete playbooks git repo dir
    become: true
    become_user: root
    file:
      path: /home/git/playbooks.git
      state: absent

  - name: Remove bindings of PV's in Failed or Released state
    environment:
      <<: *oc_env
    shell: |
      #!/bin/bash
      for i in $(oc get pv | egrep "Failed|Released" | awk {'print $1'}); do
        oc patch pv $i --type='json' -p='[{"op": "remove", "path": "/spec/claimRef"}]'
      done

  - name: Detach additional Ceph OSD disks
    become: true
    become_user: root
    shell: |
      #!/bin/bash
      for domain in $(virsh list --inactive --name); do
        for disk in $(virsh domblklist ${domain} | grep ceph | awk '{print $1}'); do
          virsh detach-disk  ${domain} ${disk} --persistent
          rm -f /home/ocp/pool/${domain}-ceph-disk-${disk}.qcow2
        done
      done

  - name: Cleanup FreeIPA objects
    become: true
    become_user: root
    ignore_errors: true
    command: podman exec freeipa-server /data/openstack_cleanup.sh

  - name: Remove local CA
    become: true
    become_user: root
    file:
      path: /opt/local_CA
      state: absent

  - name: Remove OSP public endpoint from ctlplane dnsmasq
    become: true
    become_user: root
    file:
      path: /etc/dnsmasq.d/ctlplane.conf
      state: absent
    register: ctlplane_dnsmasq

  - name: Restart dnsmasq
    become: true
    become_user: root
    service:
      name: dnsmasq
      state: restarted
    when:
      - ctlplane_dnsmasq.changed

  - name: Remove "{{ working_vars_dir }}"
    file:
      path: "{{ working_vars_dir }}"
      state: absent
