---
- hosts: localhost
  vars_files: vars/default.yaml
  roles:
  - oc_local

  tasks:
  - name: openstack cleanup
    command: "{{ item }}"
    environment:
      PATH: "{{ oc_env_path }}"
      KUBECONFIG: "{{ kubeconfig }}"
    ignore_errors: true
    with_items:
      - "oc delete -n openstack openstackbaremetalset --all"
      - "oc delete -n openstack openstackcontrolplane --all"
      - "oc delete -n openstack openstacknet --all"
      - "oc delete -n openstack openstackplaybookgenerator --all"
      - "oc delete -n openstack openstackephemeralheat --all"

  - name: Detach additional Ceph OSD disks
    shell: |
      #!/bin/bash
      for domain in $(virsh list --inactive --name); do
        for disk in $(virsh domblklist ${domain} | grep ceph | awk '{print $1}'); do
          virsh detach-disk  ${domain} ${disk} --persistent
          rm -f /home/ocp/pool/${domain}-ceph-disk-${disk}.qcow2
        done
      done

