---
- hosts: localhost
  vars_files: vars/default.yaml
  roles:
  - oc_local

  tasks:
  - name: openstack cleanup
    command: "{{ item }}"
    environment: &oc_env
      PATH: "{{ oc_env_path }}"
      KUBECONFIG: "{{ kubeconfig }}"
    ignore_errors: true
    with_items:
      - "oc delete -n openstack openstackconfiggenerator --all"
      - "oc delete -n openstack openstackephemeralheat --all"
      - "oc delete -n openstack openstackbaremetalset --all"
      - "oc delete -n openstack openstackcontrolplane --all"
      - "oc delete -n openstack openstackvmset --all"
      - "oc delete -n openstack openstackclient --all"
      - "oc delete -n openstack openstacknetconfig --all"
      - "oc delete -n openstack cm tripleo-deploy-config heat-env-config tripleo-tarball-config --ignore-not-found=true"
      - "oc delete -n openstack events --all"

  - name: delete playbooks git repo dir
    become: true
    become_user: root
    file:
      path: /home/git/playbooks.git
      state: absent

  - name: Remove bindings of PV's in Failed or Released state
    environment:
      <<: *oc_env
    shell: |
      #!/bin/bash
      for i in $(oc get pv | egrep "Failed|Released" | awk {'print $1'}); do
        oc patch pv $i --type='json' -p='[{"op": "remove", "path": "/spec/claimRef"}]'
      done

  - name: Detach additional Ceph OSD disks
    become: true
    become_user: root
    shell: |
      #!/bin/bash
      for domain in $(virsh list --inactive --name); do
        for disk in $(virsh domblklist ${domain} | grep ceph | awk '{print $1}'); do
          virsh detach-disk  ${domain} ${disk} --persistent
          rm -f /home/ocp/pool/${domain}-ceph-disk-${disk}.qcow2
        done
      done

  - name: Cleanup FreeIPA objects
    become: true
    become_user: root
    ignore_errors: true
    command: podman exec freeipa-server /data/openstack_cleanup.sh

  - name: Remove local CA
    become: true
    become_user: root
    file:
      path: /opt/local_CA
      state: absent

  - name: Remove OSP public endpoint from dev_script dnsmasq
    become: true
    become_user: root
    lineinfile:
      path: /etc/NetworkManager/dnsmasq.d/openshift-{{ ocp_cluster_name }}.conf
      regexp: '# OSP public endpoint'
      state: absent
    when: not (ocp_ai|bool)
    register: ds_dnsmasq

  - name: Reload NetworkManager
    become: true
    become_user: root
    service:
      name: NetworkManager
      state: reloaded
      enabled: yes
    when:
      - not (ocp_ai|bool)
      - ds_dnsmasq.changed

  - name: Remove OSP public endpoint from AI dnsmasq
    become: true
    become_user: root
    lineinfile:
      path: /etc/dnsmasq.d/dnsmasq_ai.conf
      regexp: '# OSP public endpoint'
      state: absent
    when: ocp_ai|bool
    register: ai_dnsmasq

  - name: Restart dnsmasq
    become: true
    become_user: root
    service:
      name: dnsmasq
      state: restarted
    when:
      - ocp_ai|bool
      - ai_dnsmasq.changed
