---
- hosts: localhost
  vars_files: vars/default.yaml
  roles:
  - oc_local

  tasks:
  - name: openstack cleanup
    command: "{{ item }}"
    environment:
      PATH: "{{ oc_env_path }}"
      KUBECONFIG: "{{ kubeconfig }}"
    ignore_errors: true
    with_items:
      - "oc delete -n openstack openstackconfiggenerator --all"
      - "oc delete -n openstack openstackephemeralheat --all"
      - "oc delete -n openstack openstackbaremetalset --all"
      - "oc delete -n openstack openstackcontrolplane --all"
      - "oc delete -n openstack openstackvmset --all"
      - "oc delete -n openstack openstackclient --all"
      - "oc delete -n openstack openstacknetconfig --all"
      - "oc delete -n openstack cm tripleo-deploy-config heat-env-config tripleo-tarball-config --ignore-not-found=true"
      - "oc delete -n opensatck events --all"

  - name: delete playbooks git repo dir
    become: true
    become_user: root
    file:
      path: /home/git/playbooks.git
      state: absent

  - name: Detach additional Ceph OSD disks
    become: true
    become_user: root
    shell: |
      #!/bin/bash
      for domain in $(virsh list --inactive --name); do
        for disk in $(virsh domblklist ${domain} | grep ceph | awk '{print $1}'); do
          virsh detach-disk  ${domain} ${disk} --persistent
          rm -f /home/ocp/pool/${domain}-ceph-disk-${disk}.qcow2
        done
      done

  - name: Cleanup FreeIPA objects
    become: true
    become_user: root
    ignore_errors: true
    command: podman exec freeipa-server /data/openstack_cleanup.sh
