export ANSIBLE_INVENTORY="/home/cloud-admin/ctlplane-ansible-inventory"
export ANSIBLE_SSH_ARGS="-F /home/cloud-admin/.ssh/config"
export ANSIBLE_CONFIG="/home/cloud-admin/ansible.cfg"
export OS_CLOUD=overcloud
