apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "local-disks"
  namespace: "openshift-local-storage"
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values: 
{% for n in range(ocp_num_storage_workers) %}
{% if not (ocp_ai | bool) %}
          - "{{ ocp_cluster_name }}_worker_{{ n }}"
{% else %}
          - "{{ ocp_cluster_name }}-{{ 'worker' if ocp_worker_count | int >= ocp_num_storage_workers else 'master' }}-{{ n }}"
{% endif %}
{% endfor %}
  storageClassDevices:
    - storageClassName: "local"
      volumeMode: {{ local_storage_volume_mode | default('Filesystem', true) }}
{% if (local_storage_volume_mode | default('Filesystem', true)) == "Filesystem" %}
      fsType: ext4
{% endif %}
      devicePaths:
{% for dev in ocp_storage_data_disks %}
        - '/dev/{{ dev }}'
{% endfor %}
