apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "local-disks"
  namespace: "openshift-local-storage"
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values: {{ local_storage_workers }}
  storageClassDevices:
    - storageClassName: "local"
      volumeMode: Filesystem
      fsType: ext4
      devicePaths:
{% for dev in local_storage_disks %}
        - '/dev/{{ dev }}'
{% endfor %}
