apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "local-disks"
  namespace: "openshift-local-storage"
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
{% if not (ocp_ai|bool) %}
          values: {{ local_storage_workers }}
{% else %}
          values:
{% for worker in local_storage_workers %}
{% if ocp_cluster_name not in worker %}
          - "{{ ocp_cluster_name }}-{{ worker }}"
{% else %}
          - "{{ worker }}"
{% endif %}
{% endfor %}
{% endif %}
  storageClassDevices:
    - storageClassName: "local"
      volumeMode: Filesystem
      fsType: ext4
      devicePaths:
{% for dev in local_storage_disks %}
        - '/dev/{{ dev }}'
{% endfor %}
