parameter_defaults:
  ContainerImagePrepare:
  - push_destination: false
    set:
      ceph_image: {{ osp.ceph_image }}
      ceph_namespace: quay.io/ceph
      ceph_tag: {{ osp.ceph_tag }}
      name_prefix: openstack-
      name_suffix: ''
      namespace: quay.io/tripleowallaby
      neutron_driver: null
      tag: {{ osp.container_tag }}
    tag_from_label: rdo_version
