parameter_defaults:
{% if "hci" in osp.extrafeatures %}
  ComputeHciNetworkConfigTemplate: '/home/cloud-admin/playbooks/tarball/multiple_nics_vlans_dvr.j2'
{% else %}
  ComputeNetworkConfigTemplate: '/home/cloud-admin/playbooks/tarball/multiple_nics_vlans_dvr.j2'
{% endif %}
