parameter_defaults:
  ComputeNetworkConfigTemplate: '/home/cloud-admin/playbooks/tarball/multiple_nics_vlans_dvr.j2'
  ComputeLeaf1NetworkConfigTemplate: '/home/cloud-admin/playbooks/tarball/multiple_nics_vlans_dvr.j2'
  ComputeLeaf2NetworkConfigTemplate: '/home/cloud-admin/playbooks/tarball/multiple_nics_vlans_dvr.j2'
  ComputeHciNetworkConfigTemplate: '/home/cloud-admin/playbooks/tarball/multiple_nics_vlans_dvr.j2'
