parameter_defaults:
  # workaround until we have these service IPs implemented in the operator
  RedisVirtualFixedIPs:
    - ip_address: 172.17.0.9
      use_neutron: false
  OVNDBsVirtualFixedIPs:
    - ip_address: 172.17.0.8
      use_neutron: false
  # gets created by openstack overcloud network provision
  DeployedNetworkEnvironment:
    net_attributes_map:
      external:
        network:
          dns_domain: external.{{ ocp_cluster_name }}.
          mtu: 1350
          name: external
          tags:
          - tripleo_network_name=External
          - tripleo_net_idx=0
          - tripleo_vip=true
        subnets:
          external_subnet:
            cidr: 10.0.0.0/24
            dns_nameservers: []
            gateway_ip: 10.0.0.1
            host_routes: []
            ip_version: 4
            name: external_subnet
            tags:
            - tripleo_vlan_id=1
      internal_api:
        network:
          dns_domain: internalapi.{{ ocp_cluster_name }}.
          mtu: 1350
          name: internal_api
          tags:
          - tripleo_network_name=InternalApi
          - tripleo_net_idx=1
          - tripleo_vip=true
        subnets:
          internal_api_subnet:
            cidr: 172.17.0.0/24
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: 4
            name: internal_api_subnet
            tags:
            - tripleo_vlan_id=20
      storage:
        network:
          dns_domain: storage.{{ ocp_cluster_name }}.
          mtu: 1350
          name: storage
          tags:
          - tripleo_network_name=Storage
          - tripleo_net_idx=2
          - tripleo_vip=true
        subnets:
          storage_subnet:
            cidr: 172.18.0.0/24
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: 4
            name: storage_subnet
            tags:
            - tripleo_vlan_id=30
      storage_mgmt:
        network:
          dns_domain: storagemgmt.{{ ocp_cluster_name }}.
          mtu: 1350
          name: storage_mgmt
          tags:
          - tripleo_network_name=StorageMgmt
          - tripleo_net_idx=3
          - tripleo_vip=true
        subnets:
          storage_mgmt_subnet:
            cidr: 172.19.0.0/24
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: 4
            name: storage_mgmt_subnet
            tags:
            - tripleo_vlan_id=30
      tenant:
        network:
          dns_domain: tenant.{{ ocp_cluster_name }}.
          mtu: 1350
          name: tenant
          tags:
          - tripleo_network_name=Tenant
          - tripleo_net_idx=4
        subnets:
          tenant_subnet:
            cidr: 172.20.0.0/24
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: 4
            name: tenant_subnet
            tags:
            - tripleo_vlan_id=50
    net_cidr_map:
      external:
      - 10.0.0.0/24
      internal_api:
      - 172.17.0.0/24
      storage:
      - 172.18.0.0/24
      storage_mgmt:
      - 172.19.0.0/24
      tenant:
      - 172.20.0.0/24
    net_ip_version_map:
      external: 4
      internal_api: 4
      storage: 4
      storage_mgmt: 4
      tenant: 4
  # https://opendev.org/openstack/tripleo-heat-templates/src/branch/master/network/deployed_networks.yaml#L12
  # The value for this parameter is automatically populated in the plan environment by tripleoclient.
  CtlplaneNetworkAttributes:
    network:
      dns_domain: ctlplane.{{ ocp_cluster_name }}.
      mtu: 1500
      name: ctlplane
      tags:
      - 192.168.25.0/24
    subnets:
      ctlplane-subnet:
        cidr: 192.168.25.0/24
        dns_nameservers:
        - 10.11.5.19
        - 10.10.160.2
        - 10.5.30.160
        gateway_ip: 192.168.25.1
        host_routes: []
        ip_version: 4
        name: ctlplane-subnet
