- name: Create local working directory
  file:
    state: directory
    path: "{{ local_working_dir }}"
    mode: 0755
  register: working_directory

- name: Get working directory absolute path
  set_fact:
    working_dir: "{{ lookup('env','PWD') }}/{{ working_directory.path }}"

- name: Register working directory and kubeconfig paths
  set_fact:
    working_bin_dir: "{{ working_dir }}/bin"
    working_src_dir: "{{ working_dir }}/src"
    working_yamls_dir: "{{ working_dir }}/yamls"
    kubeconfig: "{{ working_dir }}/kubeconfig"

- name: Register oc and github operator paths
  set_fact:
    oc_env_path: "{{ working_bin_dir }}:{{ ansible_env.PATH | default('') }}"
    k8s_operators_dir: "{{ working_src_dir }}/github.com/openstack-k8s-operators"

- name: Create common subdirectories
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - "{{ working_bin_dir }}"
    - "{{ working_src_dir }}"
    - "{{ working_yamls_dir }}"
    - "{{ k8s_operators_dir }}"
