---
parameter_defaults:

    ComputeSriovParameters:
    NovaPCIPassthrough:
        devname: "ensp1f0"
        trusted: "true"
        physical_network: "sriov-1"
    
    NeutronPhysicalDevMappings: 
        - "sriov-1:enp6s0f2" 
        - "sriov-2:enp6s0f3" 
        - "sriov-mlx-1:enp4s0f0" 
        - "sriov-mlx-2:enp4s0f1"

    NovaSchedulerDefaultFilters:
    - "RetryFilter"
    - "AvailabilityZoneFilter"
    - "ComputeFilter"
    - "ComputeCapabilitiesFilter"
    - "ImagePropertiesFilter"
    - "ServerGroupAntiAffinityFilter"
    - "ServerGroupAffinityFilter"
    - "PciPassthroughFilter"
    - "NUMATopologyFilter"
    - "AggregateInstanceExtraSpecsFilter"

-e /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovn-sriov.yam