---
parameter_defaults:

    ComputeSriovParameters:
        NovaPCIPassthrough:
            devname: "ensp1f0"
            trusted: "true"
            physical_network: "sriov-1"
        IsolCpusList: "0-80"
        NeutronPhysicalDevMappings: 
            - "sriov-1:ensp1f0" 
        NeutronBridgeMappings: "sriov-1:br-sriov1"

    NovaSchedulerDefaultFilters:
    - "RetryFilter"
    - "AvailabilityZoneFilter"
    - "ComputeFilter"
    - "ComputeCapabilitiesFilter"
    - "ImagePropertiesFilter"
    - "ServerGroupAntiAffinityFilter"
    - "ServerGroupAffinityFilter"
    - "PciPassthroughFilter"
    - "NUMATopologyFilter"
    - "AggregateInstanceExtraSpecsFilter"

#openstackconfiggenerator.yaml.j2 handled by a condition at that file
