apiVersion: config.openshift.io/v1
kind: Image
metadata:
  name: cluster
spec:
  registrySources:
    allowedRegistries:
    - docker-registry.upshift.redhat.com
    - registry.redhat.io
    - quay.io
    - registry-proxy.engineering.redhat.com
    - gcr.io
    - image-registry.openshift-image-registry.svc:5000
    insecureRegistries:
    - docker-registry.upshift.redhat.com
    - registry-proxy.engineering.redhat.com
