apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: rh-root-ca-{{ ocp_node_role }}
  labels:
    machineconfiguration.openshift.io/role: {{ ocp_node_role }}
spec:
  config:
    ignition:
      version: 3.1.0
    storage:
      files:
        - contents:
            source: data:text/plain;charset=utf-8;base64,{{ lookup('file', 'files/RH-Root-CA.pem', rstrip=false)|b64encode }}
            verification: {}
          filesystem: root
          mode: 0644
          path: /etc/pki/ca-trust/source/anchors/RH-Root-CA.pem

