# Based on https://github.com/marketplace/actions/ansible-lint
name: Ansible lint github pipeline

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@master
        with:
          targets: |
            **/*.yaml
          args: "-x 204,301,306,701 --exclude ansible/roles/prepare_rhos_release"
