# Based on https://github.com/marketplace/actions/ansible-lint
name: Ansible lint github pipeline

on: [push, pull_request]

jobs:
  test:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Lint Ansible Playbooks
        uses: ansible/ansible-lint-action@master
        with:
          targets: |
            **/*.yaml
          args: "--exclude ansible/roles/prepare_rhos_release"
          override-deps: |
            ansible==2.10.7
            ansible-base==2.10.5
            ansible-lint==4.3.7
